<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legalypipipi</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">
            <strong>Open Law</strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="components/login">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Beneficio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Planes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contactos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container">
      <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Bienvenido a Open Law</h2>
                <p>En Open Law nos especializamos en brindarte herramientas legales al alcance de tu mano. Nuestro servicio está diseñado para simplificar la gestión de documentos legales, asegurar el cumplimiento de normativas y proporcionar soluciones rápidas y eficientes. Ya sea que necesites asesoría jurídica, procesamiento de documentos o gestión de tus trámites, ¡estamos aquí para ayudarte!</p>
                <a href="https://aldoalvarezabogados.com/contacto/" class="btn btn-primary" target="_blank">Contáctanos ahora</a>
              </div>
        </div>
    </div>

        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="mt-5"><h1>“¡La ley sólo es injusta para los que no la cumplen!”</h1>
                    <p>El cumplimiento de las normas asegura el bienestar colectivo y fortalece el tejido social. 
                      Cada acción en armonía con la ley es un paso hacia una convivencia justa y equitativa. 
                      Cuando respetamos las reglas, construimos un futuro más seguro y próspero para todos.</p></div>

            </div>
            <div class="col-md-6">
                <img src="assets/image1.png" alt="Logo de la empresa" >
            </div>
        </div>

    </div>

    <footer class="footer">
      <div class="container">
        <div class="footer-section">
          <h4>Sobre Nosotros</h4>
          <p>Nos especializamos en la gestión y administración eficiente de documentos legales, ofreciendo soluciones confiables y personalizadas para satisfacer las necesidades legales de nuestros clientes en todo el Perú.</p>
        </div>
        <div class="footer-section">
          <h4>Enlaces Rápidos</h4>
          <ul>
            <li><a href="https://aldoalvarezabogados.com/servicios/" target="_blank" rel="noopener noreferrer">Servicios</a></li>
            <li><a href="https://aldoalvarezabogados.com/nosotros/" target="_blank" rel="noopener noreferrer">Preguntas Frecuentes</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Contacto</h4>
          <p>Email: openlaw@consultoria.com</p>
          <p>Teléfono: +981 996 388</p>
          <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 Todos los derechos reservados |Open Law</p>
      </div>
    </footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</body>
</html>
