body {
  background-color: #dbdbdb;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}

h1 {
  color: #532115;
  text-align: center; 
}

h2 {
  color: #702619;
}

p {
  color: #121114;
  text-align: justify; 
  line-height: 1.4;
  margin-bottom: 1rem; 
}

.footer {
  background-color: #5f83a7;
  color: #fcfcfc;
  padding: 20px 0;
  margin-top: auto; 
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h4 {
  font-size: 25px;
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 15px;
}

.footer-section a {
  color: #020236;
  text-decoration: none;
}

.footer-section a:hover {
  color: #3498db;
}

.social-icons a {
  color: #ecf0f1;
  margin-right: 10px;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #7f8c8d;
  margin-top: 20px;
}

.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}
